<%- include('../layout/header'); %>
    <% function formatDate(date) { %>
        <% const monthNames = ["JAN", "FEB", "MAR", "APR", "MAY", "JUN", "JUL", "AUG", "SEP", "OCT", "NOV", "DEC"]; %>
            <% const day = date.getDate(); %>
                <% const month = monthNames[date.getMonth()]; %>
                    <% const year = date.getFullYear(); %>

                        <% return `${month} ${day}, ${year}`; %>
                            <% } %>
                                <% function formatText(str) { %>
                                    <% str = str.replace(/_/g, ' '); %>
                                        <% return str.charAt(0).toUpperCase() + str.slice(1).toLowerCase(); %>
                                            <% } %>

                                                <main class="container mx-auto md:my-8 lg:my-10 px-3 py-4">
                                                    <div class="max-w-5xl mx-auto bg-stone-50 rounded-lg drop-shadow px-10 py-8">
                                                        <dl class="">
                                                            <h2 class="subtitle text-5xl">My Reservations</h2>

                                                            <h3 class="text-2xl mt-10">Upcoming</h3>
                                                            <% for (let i = 0; i < futureReservations.length; i++) { %>
                                                                <dl class="">
                                                                    <div class="my-8 flex flex-col md:flex-row flex-nowrap justify-evenly items-center gap-x-8 bg-stone-100 rounded-md drop-shadow">
                                                                        <div class="mt-2 mb-4">
                                                                            <dt class="text-stone-500">Start Date</dt>
                                                                            <dd class="col-span-2">
                                                                                <%= formatDate(futureReservations[i].start_date) %>
                                                                            </dd>
                                                                        </div>
                                                                        <div class="mt-2 mb-4">
                                                                            <dt class="text-stone-500">Nights</dt>
                                                                            <dd class="col-span-2">
                                                                                <%= futureReservations[i].num_nights %>
                                                                            </dd>
                                                                        </div>
                                                                        <div class="mt-2 mb-4">
                                                                            <dt class="text-stone-500">RV Size</dt>
                                                                            <dd class="col-span-2">
                                                                                <%= formatText(futureReservations[i].site_type_name) %>
                                                                            </dd>
                                                                        </div>
                                                                        <div class="mt-2 mb-4">
                                                                            <a href="/reservation-details?reservation_id=<%= futureReservations[i].reservation_id %>" class="transition self-center text-xs lg:text-sm font-bold uppercase
                                bg-lime-600 hover:bg-lime-800 text-stone-50 hover:text-stone-100
                                drop-shadow hover:drop-shadow-md rounded-md px-3 py-2">Reservation Details</a
                        </div>
                    </div>
                </dl>
                <% } %>

            <h3 class="text-2xl mt-10">History</h3>
            <% for (let i = 0; i < pastReservations.length; i++) { %>
            <dl class="">
                <div class="my-8 flex flex-col md:flex-row flex-nowrap justify-evenly items-center gap-x-8 bg-stone-100 rounded-md drop-shadow">
                    <div class="mt-2 mb-4">
                        <dt class="text-stone-500">Start Date</dt>
                        <dd class="col-span-2"><%= formatDate(pastReservations[i].start_date) %></dd>
                    </div>
                    <div class="mt-2 mb-4">
                        <dt class="text-stone-500">Nights</dt>
                        <dd class="col-span-2"><%= pastReservations[i].num_nights %></dd>
                    </div>
                    <div class="mt-2 mb-4">
                        <dt class="text-stone-500">RV Size</dt>
                        <dd class="col-span-2"><%= formatText(pastReservations[i].site_type_name) %></dd>
                    </div>
                    <div class="mt-2 mb-4">
                        <a href="/reservation-details?reservation_id=<%= pastReservations[i].reservation_id %>" class="transition self-center text-xs lg:text-sm font-bold uppercase
                            bg-lime-600 hover:bg-lime-800 text-stone-50 hover:text-stone-100
                            drop-shadow hover:drop-shadow-md rounded-md px-3 py-2">Reservation Details</a
                    </div>
                </div>
            </dl>
            <% } %>
        </div>
    </main>

    <%- include('../layout/footer'); %>